.title {
  font-weight: 500 !important;
  font-size: 26px !important;
}
.tableContainer {
  margin-top: 25px !important;
}
.paperContainer {
  max-width: 640px;

  padding-bottom: 0 !important;

  strong {
    margin-right: 10px;
  }

  h6 {
    margin-top: 15px;
  }
}
